@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Palette+Mosaic&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: papayawhip;
}
.navbar {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border-bottom: 2px solid gold;
  box-shadow: 5px 4px 10px;
  background-color: white;
}
.logo {
  font-size: 50px;
  font-family: "Palette Mosaic", cursive;
  color: black;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  max-width: 100%;
  height: 80%;
  display: grid;
  grid-template-areas: "one two";
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.section-1 {
  grid-area: one;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-1 :nth-child(3) {
  font-size: 48px;
  font-weight: bold;
  background-color: orange;
  border-radius: 20px;
  padding: 0 9px;
}

.btn {
  background: linear-gradient(blue, purple);
  margin-top: 50px;
  padding: 15px 45px;
  border: none;
  outline: none;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  border-radius: 30px;
  box-shadow: 6px 6px 7px rgba(22, 21, 21, 0.15);
}

.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 10px;
  background-color: orange;
  padding: 2rem;
  border-radius: 20px;
}

img {
  width: 100%;
  border-radius: 30px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.5);
}
